.form-container {
    width: 20rem;
    margin: 0 auto;
    padding: 2rem;
    /* border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}

.form-container > p {
    font-size: 32px;
    margin-bottom: 1rem;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0666d4;
}

.message-box {
    margin-top: 15px; 
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.swap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swap > p {
    margin-right: 4px;
}

.signin {
    text-decoration: none;
    color: #007bff;
}

