.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
}

.tab {
    cursor: pointer;
}

.active {
    text-decoration: underline;
}

.display {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* width: 20rem; */
    /* background-color: aliceblue; */
}

.timer {
    display: flex;
    justify-self: center;
    align-items: center;
}

h3 {
    font-size: 2rem;
}

.timer > div {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
}

.timer > div > p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.timer > div > input {
    width: 4.5rem;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    margin-top: 2rem;
}

button {
    margin-right: 2rem;
}
