@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400&family=Cutive+Mono&family=DM+Mono:wght@400&family=Doto:wght@700&family=Major+Mono+Display&family=Roboto+Mono:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

:root {
    --background-color: theme(colors.light.background);
    --text-color: theme(colors.light.text);
    --primary-color: theme(colors.light.primary);
    --secondary-color: theme(colors.light.secondary);
    --tertiary-color: theme(colors.light.tertiary);
  }
  
  [data-theme="dark"] {
    --background-color: theme(colors.dark.background);
    --text-color: theme(colors.dark.text);
    --primary-color: theme(colors.dark.primary);
    --secondary-color: theme(colors.dark.secondary);
    --tertiary-color: theme(colors.dark.tertiary);
  }
  
  /* Apply custom properties in Tailwind */
  .bg-background {
    @apply bg-[var(--background-color)];
  }
  
  .text-color {
    @apply text-[var(--text-color)];
  }

  .fill-color {
    @apply fill-[var(--text-color)];
  }

  .fill-secondary {
    @apply fill-[var(--tertiary-color)];
  }

  .bg-primary {
    @apply bg-[var(--primary-color)];
  }

  .bg-secondary {
    @apply bg-[var(--secondary-color)];
  }

  .text-tertiary {
    @apply text-[var(--tertiary-color)];
  }

  .border-color {
    @apply border-[var(--secondary-color)]
  }

  .border-secondary {
    @apply border-[var(--primary-color)]
  }

  [data-font='roboto'] {
    font-family: 'Roboto Mono', serif;
  }
  
  [data-font='courier'] {
    font-family: 'Courier Prime', serif;
  }
  
  [data-font='dm'] {
    font-family: 'DM Mono', serif;
  }

  [data-font='cutive'] {
    font-family: 'Cutive Mono', serif;
  }

  [data-font='major'] {
    font-family: 'Major Mono Display', serif;
  }

  [data-font='doto'] {
    font-family: 'Doto', serif;
  }